
Library/PlayerDataCache/Win64/ScriptsOnlyCache.yaml
Library/PlayerDataCache/Win64/Data/sharedassets0.resource
Library/PlayerDataCache/Win64/Data/sharedassets0.assets.resS
Library/PlayerDataCache/Win64/Data/sharedassets0.assets
Library/PlayerDataCache/Win64/Data/ScriptingAssemblies.json
Library/PlayerDataCache/Win64/Data/RuntimeInitializeOnLoads.json
Library/PlayerDataCache/Win64/Data/Resources/unity_builtin_extra
Library/PlayerDataCache/Win64/Data/resources.assets.resS
Library/PlayerDataCache/Win64/Data/resources.assets
Library/PlayerDataCache/Win64/Data/level0.resS
Library/PlayerDataCache/Win64/Data/level0
Library/PlayerDataCache/Win64/Data/globalgamemanagers.assets
Library/PlayerDataCache/Win64/Data/globalgamemanagers
Library/PlayerDataCache/Win64/Data/boot.config
